{% extends "layout.html" %}

{% block header %}{% include "user/header_user.html" %}{% endblock %}

{% block main %}

<div class="container-fluid">
    <div class="row main">
        {% include "user/sidebar.html" %}
        <div class="col-md-9 col-xl-10 pr-0 align-self-center">
            <main class="content">
                {% block content %}{% endblock %}
            </main>
        </div>
    </div>
</div>

{% endblock %}

{% block footer %}{% include "user/footer_user.html" %}{% endblock %}