<header class="navbar navbar-expand header-nav p-0 bg-info flex-md-row flex-md-nowrap">
    <div class="col-10 col-md-6">
        <a class="navbar-brand p-0" href="/home">
            <img src="{{url_for('static', filename='img/logo.png')}}" alt="Logo Orquesta Escuela de Berisso"
                class="img-fluid">
        </a>
    </div>
    <div class="col-2 col-md-6 d-flex">
        <div id="user" class="dropdown ml-auto">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="{{url_for('static', filename='img/user.jpg')}}" alt="Imagen de usuario" width="35px"
                    height="35px" class="mr-3">
                <span>Apellido Nombre</span>
                <span>Rol</span>
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Perfil</a>
                <a class="dropdown-item" href="#">Cerrar Sesión</a>
            </div>
        </div>
        <button type="button" class="btn btn-primary collapsed ml-auto d-md-none" data-toggle="collapse"
            data-target="#sidebar" aria-controls="sidebar" aria-expanded="false" aria-label="Menu">
            <i class="fas fa-bars"></i>
        </button>
    </div>
</header>