<nav class="sidebar col-md-3 col-xl-2 py-3 collapse d-md-block shadow" id="sidebar">
    <ul class="nav flex-column pb-3">
        <li class="nav-item"><a class="nav-link active" href="#"><i class="fas fa-home"></i> Home</a></li>
        <li class="nav-item"><a class="nav-link" href="#"><i class="fas fa-user-graduate"></i> Estudiantes</a></li>
        <li class="nav-item"><a class="nav-link" href="#"><i class="fas fa-chalkboard"></i> Clases</a></li>
        <li class="nav-item"><a class="nav-link" href="#"><i class="fas fa-chalkboard-teacher"></i> Docentes</a></li>
        <li class="nav-item"><a class="nav-link" href="#"><i class="fas fa-drum"></i> Instrumentos</a></li>
        <li class="nav-item"><a class="nav-link" href="#"><i class="fas fa-school"></i> Núcleos</a></li>
    </ul>
    <h6 class="sidebar-header">Usuario</h6>
    <ul class="nav flex-column">
        <li class="nav-item"><a class="nav-link active" href="#"><i class="fas fa-user-circle"></i> Perfil</a></li>
        <li class="nav-item"><a class="nav-link" href="#"><i class="fas fa-sign-out-alt"></i> Cerrar Sesión</a></li>
    </ul>
</nav>